$color1: #a162be;
$color2: #fdf8dbde;
$color3: #121212;
$grey: hsl(200, 10%, 85%);
$grey-dark: hsl(200, 10%, 70%);


.cardWrap {
  width:100%;
  margin-top: 3em;
  text-align:center;
  color: #fff;
  font-family: sans-serif;
  display:inline-block;
  clear:both;
}

.divCenter {
  display:inline-block;
}

.ticketPop {
  width:100%;
  margin-top: 2em;
  text-align:center;
  color: #fff;
  font-family: sans-serif;
  display:inline-block;
  clear:both;
}

#btnTicket {
  color: #fff !important;
  text-align:center;
  font-size: 20px;
  background: #ed3330;
  padding: 1.5em 4em 1.5em 4em;
  border-radius: 10px;
  display: block;
  border: none;
  transition: all 0.4s ease 0s;
}

#btnTicket:hover {
  text-align:center;
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(3, 3, 3, 0.57);
  transition: all 0.8s ease 0s;
  }

.cardMain {
  float:left;
  width:100%;
  text-align:center;
  background: linear-gradient(to bottom, $color1 19%, $color2 21%, $color2 100%);
  height: 18.9em;
  position: relative;
  padding: 0.7em;

}

.cardLeft {
  float:left;
  text-align:center;
  border-top-left-radius: 12px;
  border-bottom-left-radius:12px;
  width: 23.8em;
}

.cardRight {
  text-align: center;
  width: 10em;
  border-left: .36em dashed #fff;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    width: 1.26em;
    height: 1.26em;
    background: #fff;
    border-radius: 50%;
    left: -0.7em;
  }
  &:before {
    top: -.56em;
  }
  &:after {
  bottom: -1.12em;
  }
}

h1 {
  font-size: 1.68em;
  margin-top: 0;
  span {
    font-weight: normal;
  }
}

.title, .name, .seat, .time, .row {
  text-transform: uppercase;
  font-weight: normal;
  h2 {
    font-size: 1.05em;
    color: #313131;
    margin: 0;
   }
  span {
    font-size: 0.84em;
    color: #999999;
  }
}

.title {
  margin: 2.1em 0 0 0;
}

.name{
  margin: 1.12em 0 0 0;
}

.time, .row, .seat {
  margin: 1.4em 0 0 1.05em;
}

.seat, .time, .row {
  float: left;
}


#rowcut {
  h3 {
    color: $color1;
    margin: 0.14em 0 0 0;
    font-size: 2.1em;
  }
}
#hall {
  h3 {
    color: $color2;
    margin: 0.07em 0 0 0;
    font-size: 1.68em;
  }
}
.number {
  text-align: center;
  text-transform: uppercase;
  h3 {
    color: $color1;
    margin: 0.7em 0 0 0;
    font-size: 2.1em;
  }
  span {
    display: block;
    color: #a2aeae;
  }
}

.barcode {
  height: 3em;
  width: 0;
  margin: 1.4em 0 0 1.5em;
  box-shadow: 2px 0px 0 1px $color3,
  5px 0 0 1px $color3,
  8px 0 0 1px $color3,
  11px 0 0 1px $color3,
  15px 0 0 1px $color3,
  20px 0 0 1px $color3,
  23px 0 0 1px $color3,
  26px 0 0 1px $color3,
  28px 0 0 1px $color3,
  32px 0 0 1px $color3,
  36px 0 0 1px $color3,
  40px 0 0 1px $color3,
  42px 0 0 1px $color3,
  45px 0 0 1px $color3,
  47px 0 0 1px $color3,
  50px 0 0 1px $color3,
  53px 0 0 1px $color3,
  55px 0 0 1px $color3,
  60px 0 0 1px $color3,
  62px 0 0 1px $color3,
  65px 0 0 1px $color3,
  67px 0 0 1px $color3,
  70px 0 0 1px $color3,
  73px 0 0 1px $color3;
}